.hidden {
    display: none;
}

.question-box {
    margin-top: 50px;

}

#start {
    margin-top: 30px;
}

.card-title {
    font-size: 50px;
    text-align: center;

}

#movie-gif {
    align-content: center;
    max-width: 300px;
    height: auto;
}

#responses {
    margin-bottom: 10px;
}

